/* These are variables in CSS */
:root {
    --left-container: #006699;
    --left-top-container: #FF6600;
    --left-inner-container: #FFCC00;

    --right-container: #666600;
    --right-top-container: #ff6633;
    --right-inner-container: #ffcc00;

}

/* Change everything below here for the assignment */

*{
    padding: 0;
    margin: o;
    box-sizing:  none;
}

body{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: -5px;
    padding-left: 100px;
    padding-right: 100px;
}

/* Left Container */


#left-container {
    background-color: var(--left-container);
    color: white;
    height: 600px;
    
}


#left-top-container {
    border: 1px solid black;
    height: 235px;
    width: 35%;
    margin-top: 20px;
    margin-left: 30px;
    background-color: var(--left-top-container);
}

#left-bottom-container {
    border: 1px solid black;
    background-color: var(--left-top-container);
    height: 100px;
    margin-left: 50px;
    margin-top: 400px;
    margin-right: -250px;
    padding: 10px;

}

#container-a {
    
    color: black;
    background-color: var(--left-inner-container);
    display: inline-block;
    text-align: center;


}

#container-b {
    
    background-color: var(--left-inner-container);
    color: black;
    display: inline-block;
}

/* Right Container */

#right-container {
    background-color: var(--right-container);
    color: white;
}

#right-top-container {
    background-color: var(--right-top-container);
    border: 1px solid black;
    height: 100px;
    width: 40px;


}

#right-middle-container {
    background-color: var(--right-top-container);
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

#right-bottom-container {
    background-color: var(--right-top-container);
    border: 1px solid black;
    height: 100px;
    width: 50px;
}

#container-c {
    background-color: var(--right-inner-container);
    color: black;
    display: inline-block;
}

#container-d {
    background-color: var(--right-inner-container);
    color: black;
    display: inline-block;
}

#container-e {
    background-color: var(--right-inner-container);
    color: black;
    display: inline-block;
}