/* These are variables in CSS */
:root {
    --left-container: #006699;
    --left-top-container: #FF6600;
    --left-inner-container: #FFCC00;

    --right-container: #666600;
    --right-top-container: #ff6633;
    --right-inner-container: #ffcc00;

}

/* Change everything below here for the assignment */

*{
    padding: 0;
    margin: o;
    box-sizing:  none;
}

body{
    display: grid;
    grid-template-columns: auto 40%;
    margin-top: -5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

/* Left Container */


#left-container {
    background-color: var(--left-container);
    color: white;
    height: 700px;
    margin: 0 auto;
}


#left-top-container {
    background-color: var(--left-top-container);
    height: 250px;
    width: 35%;
    margin-top: 20px;
    margin-left: 30px;
}

#left-bottom-container {
    background-color: var(--left-top-container);
    height: 150px;
    width: 300px;
    margin-left: 300px;
    margin-top: 450px;
    padding-right: 30%;

}

#container-a {
    
    color: black;
    background-color: var(--left-inner-container);
    display: inline-block;
    text-align: center;

}

#container-b {
    
    background-color: var(--left-inner-container);
    color: black;
    display: inline-block;
}

/* Right Container */

#right-container {
    background-color: var(--right-container);
    color: white;
    height: 700px;
}

#right-top-container {
    background-color: var(--right-top-container);
    height: 230px;
    width: 135px;
    margin-left: 250px;
    margin-top: 20px
}

#right-middle-container {
    background-color: var(--right-top-container);
    height: 20px;
    width: 300px;
    margin-top: 210px;
    margin-left: -250px;
}

#right-bottom-container {
    background-color: var(--right-top-container);
    height: 230px;
    width: 135px;
    margin-left: 10px;
    margin-top: 150px;
}

#container-c {
    background-color: var(--right-inner-container);
    color: black;
    display: inline-block;
}

#container-d {
    background-color: var(--right-inner-container);
    color: black;
    display: inline-block;
}

#container-e {
    background-color: var(--right-inner-container);
    color: black;
    display: inline-block;
}